* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

::-webkit-scrollbar{
    display: none;
}

nav {
    width: 100%;
    top: 0;
    position: fixed;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.nav-left {
    width: 10%;
    display: flex;
    justify-content: center;
}

.nav-left a {
    display: flex;
    align-items: center;
}

.nav-left img {
    width: 50px;
    padding: 5px;
}

.nav-mid {
    width: 65%;
    display: flex;
    justify-content: center;
}

.nav-mid a {
    padding: 6px 25px;
    color: black;
    border-radius: 5px;
    transition: 0.4s;
    margin: 0 4px 0 4px;
}

.nav-mid a:hover {
    color: rgb(226 164 31);
    background-color: black;
}

.nav-right {
    width: 25%;
    display: flex;
    justify-content: center;
}

.nav-right input {
    width: 250px;
    height: 30px;
    padding: 5px 5px 5px 10px;
    border: 2px solid rgb(84, 84, 84);
    border-radius: 50px;
    background: transparent;
    color: white;
    transition: 0.4s;
}

.nav-right input:hover {
    border: 2px solid rgb(226 164 31);
}

.nav-right button {
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 6px;
    border: 2px solid black;
    border-radius: 50px;
    background: transparent;
    margin-left: 5px;
    display: flex;
    align-items: center;    
    transition: 0.4s;
}

.nav-right button:hover {
    border: 2px solid rgb(226 164 31);
}

main {
    width: 85%;
    margin: 80px 100px 30px 100px;
}

.Information {
    display: flex;
    width: 100%;
}

.introduction {
    width: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.introduction p {
    padding: 15px;
}

.intro-video {
    margin-left: 40px;
    width: 50%;
}

.intro-video video {
    width: 100%;
}

footer {
    width: 100%;
    padding: 40px;
    background-color: rgb(40 40 40);
    display: flex;
    color: white;
}

.footer {
    display: flex;
}

.Footer_Logo {
    width: 38%;
    padding: 20px;
}

.Footer_Logo p {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Footer_Logo img {
    width: 70%;
    margin: 0 50px 0 50px;
}

footer .thought {
    width: 50%;
    padding: 20px 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer .foot-contact {
    width: 28%;
    padding: 20px 40px;
    background-color: rgb(32, 32, 32);
}

footer .foot-contact a {
    color: white;
}

footer .contact-head {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 10px;
}

footer pre {
    display: flex;
}

footer pre p {
    color: rgb(207, 207, 207);
}

.creator {
    background-color: rgb(40 40 40);
    box-shadow: 0 0 0 1px rgba(184, 184, 184, 0.2);
}

.web-creator {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
}